# Database Configuration
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

# API Configuration
MEDIATR_LICENSE_KEY=

JWT_SECRET_KEY=

RESEND_API_KEY=
RESEND_EMAIL_SENDER=

HANGFIRE_LOGIN=
HANGFIRE_PASSWORD=

# Frontend Configuration
VITE_CURRENCY_RATES_API_KEY=

# Caddy
APP_DOMAIN=
